.ImageContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.ImageContainer > div {
    width: 220px;
    height: 165px;
    overflow: hidden;
    margin-bottom: 15px;
    background-color: #f1f1f1;
}

.ImageContainer > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

