.Dropdown {
    margin: 10px 0;
    position: relative;
}

.Dropdown > .trigger {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}

.Dropdown > .trigger:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.Dropdown > .trigger:active {
    background-color: #f9f9f9;
}

.Dropdown > .list {
    background-color: #fff;
    border: 1px solid #ddd;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.Dropdown > .list > div {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.Dropdown > .list > div.selected {
    background-color: #bbb;
}

.Dropdown > .list > div:hover:not(.selected) {
    background-color: #f9f9f9;
    cursor: pointer;
}

.Dropdown > .list > div:active {
    background-color: #f1f1f1;
}