.Btn {
    background-color: #1f75cb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transform: scale(1);
    transition: .2s transform;
}

.Btn:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.05);
}

.Btn:active {
    opacity: 0.9;
    transform: scale(1);
}