.Alert {
    position: fixed;
    inset: 0;
    background-color: #67676782;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Alert .message {
    background-color: #fff;
    padding: 50px;
    box-shadow: 1px 1px 1px #333;
}