.Grid {
    display: grid;
    height: 100%;
    grid-template-rows: 60px 1fr 40px;
}

.Grid > * {
    padding: 10px;
}

.Grid > :first-child {
    background-color: #6666c4;
    color: #fff;
}

.Grid > :last-child {
    background-color: #333;
    color: #fff;
}